@model CategoryViewModel

@{
    ViewBag.Title = "Създване на категория";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Създване на категория</h2>
<hr />
<div>
    @using (Html.BeginForm("Create", "Category", FormMethod.Post))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Име", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Order, new { @placeholder = "Поредност", @class = "form-control", @type = "number", Value = "" })
        </div>

        <div class="form-group">
            @Html.EditorFor(m => m.Subcategories)
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.IsPrimary, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck1" })
                @Html.LabelFor(m => m.IsPrimary, "Основна категория", new { @class = "custom-control-label", @for = "customCheck1" })
            </div>
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.Visible, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck2" })
                @Html.LabelFor(m => m.Visible, "Видимо на страницата", new { @class = "custom-control-label", @for = "customCheck2" })
            </div>
        </div>

        <button type="submit">
            Запази
        </button>
    }
</div>