@model CategoryViewModel

@{
    ViewBag.Title = @AdminCategoryCreateTexts.PageHeader;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@AdminCategoryCreateTexts.PageHeader</h2>
<hr />
<div>
    @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.Name, new { @placeholder = GlobalTexts.Name, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Order, new { @placeholder = GlobalTexts.Order, @class = "form-control", @type = "number", Value = "" })
        </div>

        <div class="form-group">
            @Html.EditorFor(m => m.Subcategories)
        </div>

        <div class="form-group">
            @Html.Partial("_PictureBrowse", nameof(Model.ImageFile))
            @Html.ValidationMessageFor(m => m.ImageFile)
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.IsPrimary, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck1" })
                @Html.LabelFor(m => m.IsPrimary, AdminCategoryCreateTexts.PrimaryCategory, new { @class = "custom-control-label", @for = "customCheck1" })
            </div>
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.Visible, new { @class = "custom-control-input", @type = "checkbox", @id = "customCheck2" })
                @Html.LabelFor(m => m.Visible, AdminCategoryCreateTexts.VisibleOnPage, new { @class = "custom-control-label", @for = "customCheck2" })
            </div>
        </div>

        <button type="submit" class="btn btn-success">@GlobalTexts.Save</button>
    }
</div>